<div *ngIf="upload" class="ui-s480 break-on-s480">
  <ui-card>
    <ui-card-content>
      <div class="esqueleto">
        <div class="corpo-esqueleto">
          <img alt="" id="icon-upload" src="/assets/upload1.svg">
        </div>
        <div class="corpo-esqueleto">
          <div class="messages">
            <h3>Click abaixo para subir o arquivo.</h3>
          </div>
        </div>
        <div class="corpo-esqueleto">
          <button (click)="submitFile.click()" class="ui-button success">Enviar arquivo</button>
          <input #submitFile hidden type="file" (change)="insertFile($event)"
                 accept=".xlsx">
        </div>
      </div>
    </ui-card-content>
  </ui-card>
</div>
<div *ngIf="upload1">
  <ui-tab-group [lazyLoad]="true" class="scrolled">
    <ui-tab *ngIf="cursoGrafico" label="Curso">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="cursoChartData"
                  [labels]="cursoLabel"
                  [options]="barChartOptions"
                  [legend]="cursoChartLegend"
                  [chartType]="cursoChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="periodoGrafico" label="Período">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="periodoChartData"
                  [labels]="periodoLabel"
                  [options]="barChartOptions"
                  [legend]="periodoChartLegend"
                  [chartType]="periodoChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="semestreGrafico" label="Semestre">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="semestreChartData"
                  [labels]="semestreLabel"
                  [options]="barChartOptions"
                  [legend]="semestreChartLegend"
                  [chartType]="semestreChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="generoGrafico" label="Gênero">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="generoChartData"
                  [labels]="generoChartLabels"
                  [options]="barChartOptions"
                  [legend]="generoChartLegend"
                  [chartType]="generoChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="idadeGrafico" label="Idades">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="idadeChartData"
                  [labels]="idadeLabel"
                  [options]="barChartOptions"
                  [legend]="idadeChartLegend"
                  [chartType]="idadeChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="estadoCivilGrafico" label="Estado Civil">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="estadoCivilChartData"
                  [labels]="estadoCivilLabel"
                  [options]="barChartOptions"
                  [legend]="estadoCivilChartLegend"
                  [chartType]="estadoCivilChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="deficienciaGrafico" label="Possui Deficiência">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="deficienciaChartData"
                  [labels]="deficienciaLabel"
                  [options]="barChartOptions"
                  [legend]="deficienciaChartLegend"
                  [chartType]="deficienciaChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="filhosGrafico" label="Possui filhos?">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="filhosChartData"
                  [labels]="filhosLabel"
                  [options]="barChartOptions"
                  [legend]="filhosChartLegend"
                  [chartType]="filhosChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="locomocaoGrafico" label="Locomoção">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="locomocaoChartData"
                  [labels]="locomocaoLabel"
                  [options]="barChartOptions"
                  [legend]="locomocaoChartLegend"
                  [chartType]="locomocaoChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="domicilioGrafico" label="Domicílio">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="domicilioChartData"
                  [labels]="domicilioLabel"
                  [options]="barChartOptions"
                  [legend]="domicilioChartLegend"
                  [chartType]="domicilioChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="tempoResidenciaGrafico" label="Tempo de Residência">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="tempoResidenciaChartData"
                  [labels]="tempoResidenciaLabel"
                  [options]="barChartOptions"
                  [legend]="tempoResidenciaChartLegend"
                  [chartType]="tempoResidenciaChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="quemMoraGrafico" label="Quem mora?">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="quemMoraChartData"
                  [labels]="quemMoraLabel"
                  [options]="barChartOptions"
                  [legend]="quemMoraChartLegend"
                  [chartType]="quemMoraChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="quantasPessoasMoramGrafico" label="Quantas moram?">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="quantasPessoasMoramChartData"
                  [labels]="quantasPessoasMoramLabel"
                  [options]="barChartOptions"
                  [legend]="quantasPessoasMoramChartLegend"
                  [chartType]="quantasPessoasMoramChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="quantasPessoasExercemGrafico" label="Quantas são remuneradas?">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="quantasPessoasExercemChartData"
                  [labels]="quantasPessoasExercemLabel"
                  [options]="barChartOptions"
                  [legend]="quantasPessoasExercemChartLegend"
                  [chartType]="quantasPessoasExercemChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="possuiInternetGrafico" label="Possuem internet?">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="possuiInternetChartData"
                  [labels]="possuiInternetLabel"
                  [options]="barChartOptions"
                  [legend]="possuiInternetChartLegend"
                  [chartType]="possuiInternetChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="meiosDeInternetGrafico" label="Meio de Internet">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="meiosDeInternetChartData"
                  [labels]="meiosDeInternetLabel"
                  [options]="barChartOptions"
                  [legend]="meiosDeInternetChartLegend"
                  [chartType]="meiosDeInternetChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="somaRendaGrafico" label="Soma da renda">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="somaRendaChartData"
                  [labels]="somaRendaLabel"
                  [options]="barChartOptions"
                  [legend]="somaRendaChartLegend"
                  [chartType]="somaRendaChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="escolaridadeMaeGrafico" label="Escolaridade Mãe">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="escolaridadeMaeChartData"
                  [labels]="escolaridadeMaeLabel"
                  [options]="barChartOptions"
                  [legend]="escolaridadeMaeChartLegend"
                  [chartType]="escolaridadeMaeChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="escolaridadePaiGrafico" label="Escolaridade Pai">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="escolaridadePaiChartData"
                  [labels]="escolaridadePaiLabel"
                  [options]="barChartOptions"
                  [legend]="escolaridadePaiChartLegend"
                  [chartType]="escolaridadePaiChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="areaTrabalhoGrafico" label="Área de atuação">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="areaTrabalhoChartData"
                  [labels]="areaTrabalhoLabel"
                  [options]="barChartOptions"
                  [legend]="areaTrabalhoChartLegend"
                  [chartType]="areaTrabalhoChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="periodoTrabalhoGrafico" label="Período de trabalho">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="periodoTrabalhoChartData"
                  [labels]="periodoTrabalhoLabel"
                  [options]="barChartOptions"
                  [legend]="periodoTrabalhoChartLegend"
                  [chartType]="periodoTrabalhoChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="vidaEscolarGrafico" label="Histórico escolar">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="vidaEscolarChartData"
                  [labels]="vidaEscolarLabel"
                  [options]="barChartOptions"
                  [legend]="vidaEscolarChartLegend"
                  [chartType]="vidaEscolarChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="conhecimentoInformaticaGrafico" label="Conhecimento Informática">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="conhecimentoInformaticaChartData"
                  [labels]="conhecimentoInformaticaLabel"
                  [options]="barChartOptions"
                  [legend]="conhecimentoInformaticaChartLegend"
                  [chartType]="conhecimentoInformaticaChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="aplicativosGrafico" label="Aplicações dominadas">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="aplicativosChartData"
                  [labels]="aplicativosLabel"
                  [options]="barChartOptions"
                  [legend]="aplicativosChartLegend"
                  [chartType]="aplicativosChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="idiomasGrafico" label="Idiomas estrangeiros">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="idiomasChartData"
                  [labels]="idiomasLabel"
                  [options]="barChartOptions"
                  [legend]="idiomasChartLegend"
                  [chartType]="idiomasChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="estudeiGrafico" label="FATEC">
      <ui-card-content>
        <div class="align">
          <canvas baseChart
                  [datasets]="estudeiChartData"
                  [labels]="estudeiLabel"
                  [options]="barChartOptions"
                  [legend]="estudeiChartLegend"
                  [chartType]="estudeiChartType">
          </canvas>
        </div>
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="quemestudouFatecTabela" label="Quem já estudou na Fatec">
      <ui-card-content>
        
        <ui-data-table class="responsive">
          <tbody>
          <tr>
            <th>
              Ano de ingresso
            </th>
            <th>
              Curso
            </th>
          </tr>
          <tr *ngFor="let item of list">
            <td>
              {{item.curso ? item.curso : ""}}
            </td>
            <td>
              {{item.anoIngresso ? item.anoIngresso : ""}}
            </td>
          </tr>
          </tbody>
          <tfoot></tfoot>
        </ui-data-table>
      
      
      </ui-card-content>
    </ui-tab>
    <ui-tab *ngIf="porqueFatecTabela" label="Por quê escolheu Fatec?">
      <ui-card-content>
        
        <ui-data-table class="responsive">
          <tbody>
          <tr>
            <th>
              Por quê escolheu a Fatec?
            </th>
          </tr>
          <tr *ngFor="let item of list2">
            <td>
              {{item.porque ? item.porque : ""}}
            </td>
          </tr>
          </tbody>
          <tfoot></tfoot>
        </ui-data-table>
      
      
      </ui-card-content>
    </ui-tab>
  </ui-tab-group>
</div>
