<div *ngIf="upload" class="ui-s480 break-on-s480">
  <ui-card>
    <ui-card-content>
      <div class="esqueleto">
        <div class="corpo-esqueleto">
          <img alt="" id="icon-upload" src="/assets/upload1.svg">
        </div>
        <div class="corpo-esqueleto">
          <div class="messages">
            <h3>Arraste e solte o arquivo aqui.</h3>
          </div>
        </div>
        <div class="corpo-esqueleto">
          <button (click)="submitFile.click()" class="ui-button success">Enviar arquivo</button>
        </div>
      </div>
    </ui-card-content>
    <input #submitFile hidden type="file" (change)="insertFile($event);Upload()" placeholder="Upload file"
           accept=".xlsx">
  </ui-card>
</div>


<ui-tabs-pages #tabsPages>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="cursoGrafico">
        <canvas baseChart
                [datasets]="cursoChartData"
                [labels]="cursoLabel"
                [options]="barChartOptions"
                [legend]="cursoChartLegend"
                [chartType]="cursoChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(2)" uiRipple>Ir para página 2</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="periodoGrafico">
        <canvas baseChart
                [datasets]="periodoChartData"
                [labels]="periodoLabel"
                [options]="barChartOptions"
                [legend]="periodoChartLegend"
                [chartType]="periodoChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(3)" uiRipple>Ir para página 3</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(1)" uiRipple>Voltar para página 1</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="semestreGrafico">
        <canvas baseChart
                [datasets]="semestreChartData"
                [labels]="semestreLabel"
                [options]="barChartOptions"
                [legend]="semestreChartLegend"
                [chartType]="semestreChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(4)" uiRipple>Ir para página 4</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(2)" uiRipple>Voltar para página 4</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="generoGrafico">
        <canvas baseChart
                [datasets]="generoChartData"
                [labels]="generoChartLabels"
                [options]="barChartOptions"
                [legend]="generoChartLegend"
                [chartType]="generoChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(5)" uiRipple>Ir para página 5</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(3)" uiRipple>Voltar para página 3</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="estadoCivilGrafico">
        <canvas baseChart
                [datasets]="estadoCivilChartData"
                [labels]="estadoCivilLabel"
                [options]="barChartOptions"
                [legend]="estadoCivilChartLegend"
                [chartType]="estadoCivilChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(6)" uiRipple>Ir para página 6</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(4)" uiRipple>Voltar para página 4</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="deficienciaGrafico">
        <canvas baseChart
                [datasets]="deficienciaChartData"
                [labels]="deficienciaLabel"
                [options]="barChartOptions"
                [legend]="deficienciaChartLegend"
                [chartType]="deficienciaChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(7)" uiRipple>Ir para página 7</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(5)" uiRipple>Voltar para página 5</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="filhosGrafico">
        <canvas baseChart
                [datasets]="filhosChartData"
                [labels]="filhosLabel"
                [options]="barChartOptions"
                [legend]="filhosChartLegend"
                [chartType]="filhosChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(8)" uiRipple>Ir para página 8</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(6)" uiRipple>Voltar para página 6</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="locomocaoGrafico">
        <canvas baseChart
                [datasets]="locomocaoChartData"
                [labels]="locomocaoLabel"
                [options]="barChartOptions"
                [legend]="locomocaoChartLegend"
                [chartType]="locomocaoChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(9)" uiRipple>Ir para página 9</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(7)" uiRipple>Voltar para página 7</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="domicilioGrafico">
        <canvas baseChart
                [datasets]="domicilioChartData"
                [labels]="domicilioLabel"
                [options]="barChartOptions"
                [legend]="domicilioChartLegend"
                [chartType]="domicilioChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(10)" uiRipple>Ir para página 10</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(8)" uiRipple>Voltar para página 8</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="tempoResidenciaGrafico">
        <canvas baseChart
                [datasets]="tempoResidenciaChartData"
                [labels]="tempoResidenciaLabel"
                [options]="barChartOptions"
                [legend]="tempoResidenciaChartLegend"
                [chartType]="tempoResidenciaChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(11)" uiRipple>Ir para página 11</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(9)" uiRipple>Voltar para página 9</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="quemMoraGrafico">
        <canvas baseChart
                [datasets]="quemMoraChartData"
                [labels]="quemMoraLabel"
                [options]="barChartOptions"
                [legend]="quemMoraChartLegend"
                [chartType]="quemMoraChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(12)" uiRipple>Ir para página 12</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(10)" uiRipple>Voltar para página 10</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="quantasPessoasMoramGrafico">
        <canvas baseChart
                [datasets]="quantasPessoasMoramChartData"
                [labels]="quantasPessoasMoramLabel"
                [options]="barChartOptions"
                [legend]="quantasPessoasMoramChartLegend"
                [chartType]="quantasPessoasMoramChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(13)" uiRipple>Ir para página 13</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(11)" uiRipple>Voltar para página 11</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="quantasPessoasExercemGrafico">
        <canvas baseChart
                [datasets]="quantasPessoasExercemChartData"
                [labels]="quantasPessoasExercemLabel"
                [options]="barChartOptions"
                [legend]="quantasPessoasExercemChartLegend"
                [chartType]="quantasPessoasExercemChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(14)" uiRipple>Ir para página 14</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(12)" uiRipple>Voltar para página 12</button>
    </div>
  </div>
  <div class="page">
    <ui-card-content>
      <div class="align" *ngIf="possuiInternetGrafico">
        <canvas baseChart
                [datasets]="possuiInternetChartData"
                [labels]="possuiInternetLabel"
                [options]="barChartOptions"
                [legend]="possuiInternetChartLegend"
                [chartType]="possuiInternetChartType">
        </canvas>
      </div>
    </ui-card-content>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(15)" uiRipple>Ir para página 15</button>
    </div>
    <div class="ui-button-container cover">
      <button class="ui-button" (click)="tabsPages.pagesGoToPage(13)" uiRipple>Voltar para página 13</button>
    </div>
  </div>






</ui-tabs-pages>





