ui-card {
  border-radius: 10px;
  margin: 5%;
}

#icon-upload {
  width: 80px;
}

.container {
  margin-top: 5%;
}

.corpo-esqueleto {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2%;
}

.esqueleto {
  border: 2px dashed #C7CCD2;
  display: flex;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  padding: 10%;
  justify-content: space-between;
}

.messages {
  text-align: center;
}

.align {
  width: 50%;
  margin-top: 10%;
  justify-content: center;
  display: flex;
  margin-left: 20%;
}


.uploadfilecontainer {
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}




