ui-card {
  border-radius: 10px;
  margin: 5%;
}

#icon-upload {
  width: 80px;
}

.container {
  margin-top: 5%;
}

.corpo-esqueleto {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2%;
}

.esqueleto {
  border: 2px dashed #C7CCD2;
  display: flex;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  padding: 10%;
  justify-content: space-between;
}

.messages {
  text-align: center;
}

.align {
  margin-top: 10%;
}


@media(min-width: 790px) {
  .align {
    width: 50%;
    justify-content: center;
    display: flex;
    margin-left: 20%;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7b1fa2;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
}

#git-glenio:link {
  color: blue;
}

#git-glenio:visited {
  color: white;
}

#git-glenio:hover {
  color: green;
}

#git-glenio:active {
  color: red;
}








